@padding: 15px;

body {
  background: #042029 url("img/grain.png");
}

section {
  display: none;
  background: #fff;
  border-radius: 10px;
  margin: auto;
  width: 320px;
  height: 480px;

  header {
    border-radius: 10px 10px 0 0;
    background-color: #a8a8a8;
    padding: @padding;

    h1 {
      margin: 0;
      font-size: 1.2em;
      display: inline;
    }

    .back {
      text-decoration: none;

      &:before {
        content: "<";
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }

  .content {
    padding: @padding;

    h1 {
      margin: 0;
      font-size: 1.2em;
    }
  }
}
 
#new-event {
  .froms {
    input[name=from] {
      width: 230px;
    }
    input[name=amount] {
      width: 30px;
    }
  }
}
